@fontePrincipal: "Roboto", sans-serif;
@fonteDoTitulo: "Lobster", cursive;
@CorDoTexto: #fff;
@CorDoFundo: #eb3b5a;


body {
    background-color: @CorDoFundo;
    font-family: @fontePrincipal;
    color: @CorDoTexto;
}
h1 {
    font-family: @fonteDoTitulo;
}