/*Area for reboot configuration*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*header styles*/
header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}
/*set config to links a*/
header nav li, a {
    display: inline;
    margin-left: 16px;
    color: #ecf0f1;
    font-size: 24px;
    text-decoration: none;
}
/*set configuration for page container*/
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

}
/*  set configuration for header container*/
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container img {
    width: 45%;
}
/*set configuration to brands list*/
.brands-list img {
    width: 10%;
}
.brands-list li {
    display: inline;
}
/*set configuration vertical aline*/
section .container {
    align-items: flex-start;
}





